############################################################################################################
## Rename this file to bitbucket.env and update values                                                    ##
## Required values are the top 2 and the rest are for api-bash-debug-examples.sh and only for development ##
############################################################################################################

BITBUCKET_USERNAME=nameid # Check README.md for finding this value
BITBUCKET_APP_PASSWORD=SecretAppPass # Check README.md for setting this up

## Dev use only ##
# export shell_workspace=<awesomecompanyspace>
# export shell_repo_slug=<awesomerepo>
# shell_environment_uuid=%7B<some_uuid>%7D #Brackets are encoded (%7B, %7D)
